<a style="color: blue; font-size: 20dp;" href="/">HOME</a>
<a style="color:  blue; font-size: 20dp;"href="/uploader">Upload</a>
<a style="color:  blue; font-size: 20dp;"href="/deletefile">Delete</a>
<br><hr>
<h1>IBM Object Storage</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bucket-sai18.s3.jp-tok.cloud-object-storage.appdomain.cloud/page.css">
    <title>Document</title>
</head>
    <body>
      {% for row in files %}
      <center>
        <div>
            <h3>Image Name : {{row}} </h3>
            <img src="https://bucket-sai18.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" width="750px"></td>
         </div>
      </center>
         
      {% endfor %}
   </body>
</html>
